{{define "main"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container bg-light bg-gradient">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="d-block" style="width: 100%; margin-right: 1rem">
                <form class="d-flex" action="/search" method="post">
                    <input class="form-control me-4" type="search" placeholder="Частичный поиск по названию..."
                           aria-label="Search" name="search">
                    <button class="btn btn-outline-success" type="submit">Применить</button>
                </form>
            </div>
            <a href="/logout" class="btn btn-dark">Выйти</a>
        </div>
    </nav>

    <div class="m-4">
        <a href="/notes" class="btn btn-lg btn-primary">Создать новую заметку</a>
    </div>
    {{if .Notes}}
    <div class="row row-cols-1 row-cols-md-2">
        {{range $note := .Notes }}
        <div class="card mt-4 {{$note.TypeClass}}" style="width: 25.5rem; margin-left: 1rem; margin-right: 1rem">
            <div class="card-header">{{$note.Type}}</div>
            <div class="card-body">
                <h5 class="card-title">{{$note.Name}}</h5>
                <p class="card-text">{{$note.Description}}</p>
                <p class="card-text"><small>Дата создания: {{$note.CreatedAt}}</small></p>
                <div class="row mb-3">
                    <div class="col-sm">
                        <form id="changeStatusNoteForm{{$note.ID}}" name="changeStatusNoteForm"
                              action="/changeStatus" method="post">
                            <input type="hidden" name="noteID" value="{{$note.ID}}">
                            <input type="hidden" name="statusChangeTo" value="{{$note.StatusChangeTo}}">
                            <button type="submit" name="submitBtn" class="btn btn-outline-info block"
                                    style="width: 100%">{{$note.StatusChangeTo}}
                            </button>
                        </form>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <a href="/notes/{{$note.ID}}" class="btn btn-outline-light d-block">Подробнее</a>
                    </div>
                    <div class="col-sm">
                        <form id="deleteNoteForm{{$note.ID}}" name="deleteNoteForm" action="/delete/{{$note.ID}}"
                              method="post">
                            <button type="submit" name="submitBtn" class="btn btn-outline-warning d-block"
                                    style="width: 100%">Удалить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    {{else}}
    <div class="row mt-4">
        <h3>Заметок не нашлось</h3>
    </div>
    {{end}}
    <div class="pb-4">

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
{{end}}